footer {
    width: 100%;
    margin-top: 2vh;
    .splitter-line {
        height: 1px;
        width: 100%;
        background-color: black;
    }
    background-color: $wordBgColor;
    position: sticky;
    top: 90vh;
    #footer-top {
        @include gridCenter;
        >img {
            width: 25%;
            padding: 3vh 0;
        }
        div {
            text-align: center;
            width: 100%;
            p,
            a {
                display: inline;
                text-decoration: none;
                @include otherFont;
                color: black;
                font-size: 0.6rem;
            }
        }
        .share img {
            width: 10px;
        }
    }
    #footer-bottom {
        text-align: center;
        z-index: 99;
        text-decoration: none;
        @include otherFont;
        color: black;
        font-size: 0.6rem;
        line-height: 22px;
    }
}

@media only screen and (min-width:600px) {
    footer {
        #footer-top {
            >img {
                width: 6%;
                padding: 2vw;
            }
            .share img {
                width: 20px;
            }
        }
    }
}