footer {
    .splitter-line {
        height: 1px;
        width: 100%;
        background-color: black;
    }
    background-color: $wordBgColor;
    position: sticky;
    top: 90vh;
    #footer-top {
        @include gridCenter;
        img {
            width: 25%;
            padding: 5vh 0;
        }
        div {
            text-align: center;
            p,
            a {
                text-decoration: none;
                @include otherFont;
                color: black;
                font-size: 13px;
                line-height: 15px;
            }
        }
    }
    #footer-bottom {
        text-align: center;
        z-index: 99;
        text-decoration: none;
        @include otherFont;
        color: black;
        font-size: 13px;
        line-height: 22px;
    }
}

@media only screen and (min-width:600px) {
    footer {
        #footer-top {
            width: 100%;
            div {
                width: 50%;
            }
        }
    }
}