body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

.splitter-blank {
  height: 5vh;
}

.tablet-body {
  display: none;
}

header {
  z-index: 20;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

header a > img {
  z-index: 20;
  height: 4vh;
  position: absolute;
  top: 3vw;
  left: 10vw;
}

header > label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1em;
  height: 15vw;
  position: relative;
  left: 85vw;
  display: inline-block;
  font-size: 15px;
}

header > label::before {
  content: '';
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 50%;
  border-top: 2px solid;
  color: #ffffff;
  -webkit-box-shadow: 0 -.35em, 0 .35em;
          box-shadow: 0 -.35em, 0 .35em;
}

header #tel {
  z-index: 999;
  position: absolute;
  left: 35vw;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  line-height: 15vw;
  color: #ffffff;
}

header #tel:active {
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header div a {
  width: 100%;
  display: block;
  padding: 1vh 0;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: #242424;
  text-transform: uppercase;
}

header div a:hover {
  background-color: #242424;
  color: #ffffff;
}

header .nav-menu {
  z-index: 21;
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

header .nav-menu a {
  width: 100%;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  line-height: 10vw;
  color: #ffffff;
}

header .nav-menu a:hover {
  background-color: #242424;
  color: #ffffff;
}

header .nav-menu .nav-menu-dropdown {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header .nav-menu .nav-menu-dropdown label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1em;
  position: relative;
  top: -7.5vw;
  left: 30vw;
  display: inline-block;
  font-size: 0.8rem;
}

header .nav-menu .nav-menu-dropdown label::before {
  content: '';
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  height: .65em;
  width: .65em;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transform: translate(-50%, -75%) rotate(225deg);
          transform: translate(-50%, -75%) rotate(225deg);
  color: #ffffff;
}

header .nav-menu .nav-menu-dropdown > a:hover ~ #nav-menu-dropdown-icon::before {
  color: #ffffff;
}

header .nav-menu .nav-menu-dropdown .nav-menu-dropdown-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  display: none;
  background-color: rgba(128, 128, 128, 0.5);
}

#nav-dropdown-check:checked ~ .nav-menu {
  display: -ms-grid;
  display: grid;
}

#nav-menu-dropdown-check:checked ~ .nav-menu-dropdown-container {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 600px) {
  .mobile-header {
    display: none;
  }
  header {
    z-index: 20;
    height: 6vw;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    position: fixed;
    -ms-grid-columns: 3fr 10fr 5fr;
        grid-template-columns: 3fr 10fr 5fr;
  }
  header > a {
    height: 6vw;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  header > a img {
    height: 4vw;
    width: auto;
    position: static;
  }
  header #tel {
    height: 6vw;
    position: static;
    font-size: 0.8rem;
    line-height: 6vw;
    text-shadow: 1px 1px 0 white;
    color: black;
  }
  header #tel:hover {
    font-size: 1rem;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  header .nav-menu {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    position: static;
    height: 6vw;
    background: none;
    overflow: visible;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  header .nav-menu a {
    padding-top: 0;
    color: black;
    line-height: 6vw;
    text-shadow: 1px 1px 0 white;
  }
  header .nav-menu a:hover {
    background: none;
    color: #ffffff;
    text-shadow: 1px 1px 0 #1f1f1f;
    text-shadow: 1px 1px 2px #383838;
  }
  header .nav-menu .nav-menu-dropdown {
    position: relative;
  }
  header .nav-menu .nav-menu-dropdown label {
    display: none;
  }
  header .nav-menu .nav-menu-dropdown .nav-menu-dropdown-container {
    position: absolute;
    top: 6vw;
    min-width: 150px;
    background: none;
  }
  header .nav-menu .nav-menu-dropdown .nav-menu-dropdown-container a {
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  header .nav-menu .nav-menu-dropdown:hover .nav-menu-dropdown-container {
    display: block;
  }
}

.aboutUs img {
  width: 100%;
  margin-bottom: 6vh;
}

.aboutUs div h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 3rem;
  line-height: 5rem;
  margin: 6vh 0;
  padding: 0 15vw;
  text-transform: uppercase;
}

.aboutUs div p {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  padding: 0 15vw;
  margin-bottom: 6vh;
}

.aboutUs div img {
  width: 100%;
  margin-bottom: 6vh;
}

.aboutUs div iframe {
  width: 100%;
  height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  margin-top: 2vh;
  background-color: #efefef;
  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
}

footer .splitter-line {
  height: 1px;
  width: 100%;
  background-color: black;
}

footer #footer-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

footer #footer-top > img {
  width: 25%;
  padding: 3vh 0;
}

footer #footer-top div {
  text-align: center;
  width: 100%;
}

footer #footer-top div p,
footer #footer-top div a {
  display: inline;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 0.6rem;
}

footer #footer-top div img {
  width: 0.6rem;
}

footer #footer-bottom {
  text-align: center;
  z-index: 99;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 0.6rem;
  line-height: 22px;
}

@media only screen and (min-width: 600px) {
  footer #footer-top > img {
    width: 8%;
    padding: 2vw;
  }
}

@media only screen and (min-width: 600px) {
  .tablet-body {
    display: block;
  }
  .mobile-header {
    display: none;
  }
  .mobile-body {
    display: none;
  }
  .aboutUs {
    width: 100%;
  }
  .aboutUs .about-grid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutUs .about-grid h2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 5vw;
    width: 40vw;
  }
  .aboutUs .about-grid p {
    font-size: 0.8rem;
    margin: 5vw 0;
    padding: 0;
    width: 40%;
  }
  .aboutUs .about-grid p::first-letter {
    font-size: 2rem;
  }
  .aboutUs .about-grid img,
  .aboutUs .about-grid iframe {
    width: 40vw;
    height: 25vw;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1367px) {
  html {
    font-size: 26px;
  }
}
/*# sourceMappingURL=about.css.map */