@import './variable';
@import './mixin';
body {
    @include bodyDefault;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.splitter-blank {
    height: 5vh;
}

.tablet-body {
    display: none;
}

@import './header';
#homeMenu {
    .categorys {
        z-index: 10;
        box-sizing: border-box;
        width: 100%;
        height: 30vw;
        overflow: hidden;
        background-color: white;
        display: flex;
        align-items: center;
        position: sticky;
        justify-content: space-evenly;
        margin-bottom: -10vh;
        img {
            width: 15vw;
        }
        p {
            display: none;
        }
    }
    .linkImg {
        width: 100%;
        height: 40vw;
        border-top: 10vh solid white;
        object-fit: cover;
    }
    z-index: -1;
    @include gridCenter;
    width: 100%;
    height: fit-content;
    // background: radial-gradient(124.68% 124.31% at 50% 50%, rgba(238, 238, 238, 0.27) 0%, rgba(0, 0, 0, 0.44) 48.44%);
    h1 a {
        z-index: 1;
        display: block;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.7);
        width: 50vw;
        height: 25vw;
        line-height: 25vw;
        position: relative;
        text-align: center;
        left: -25vw;
        @include articleFont;
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .menu-section {
        z-index: 2;
        width: 100%;
        position: relative;
        height: 100%;
        @include gridCenter;
        grid-template-columns: 1fr 1fr;
        column-gap: 2px;
        row-gap: 2px;
        .foodCard {
            width: 100%;
            height: 50vw;
            position: relative;
            overflow: hidden;
            &:nth-child(2n) {
                transform: translateY(-50%);
            }
            &:hover div {
                top: 0;
                transition: all 0.5s ease-in-out;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            div {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 80%;
                left: 0;
                padding: 5px 5%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 1.19%, rgba(0, 0, 0, 0.68) 48.02%, rgba(0, 0, 0, 0.56) 68.61%, rgba(0, 0, 0, 0.01) 100%);
                h2 {
                    width: 100%;
                    height: 20%;
                    padding: 5px 0;
                    @include articleFont;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    text-align: center;
                    color: $cardBgColor;
                    @include textShadow(2px)
                }
                #slide {
                    font-size: 0.8rem;
                }
                h3 {
                    width: 100%;
                    padding: 5px;
                    @include articleFont;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    text-align: right;
                    color: $cardBgColor;
                    @include textShadow(2px)
                }
                p {
                    color: $cardBgColor;
                    font-size: 0.8rem;
                    padding-top: 5px;
                    @include textShadow(2px)
                }
            }
        }
        &::after {
            content: 'recommends';
            @include articleFont;
            text-transform: uppercase;
            text-align: center;
            color: $cardBgColor;
            font-size: 1.5rem;
            position: absolute;
            line-height: 25vw;
            bottom: 0;
            right: 0;
            width: 50vw;
            height: 25vw;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
}

@media only screen and (min-width:600px) {
    header {
        position: sticky;
    }
    .mobile-body {
        display: none;
    }
    #homeMenu {
        @include gridCenter;
        background: none;
        width: 100%;
        .categorys {
            height: 10vw;
            img {
                width: 5vw;
            }
        }
        h1 a {
            background: none;
            color: $desktopFontColor;
            height: 10vw;
            line-height: 10vw;
            width: auto;
            position: static;
            left: 0;
        }
        .menu-section {
            box-sizing: border-box;
            width: 80%;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            column-gap: 5vw;
            row-gap: 5vw;
            &::after {
                content: none;
            }
            .foodCard {
                height: 200px;
                &:nth-child(2n) {
                    transform: none;
                    ;
                }
            }
        }
    }
}

@media only screen and (min-width:1024px) {
    html {
        font-size: 20px;
    }
    #homeMenu>.menu-section>.foodCard>div {
        h2 {
            font-size: 0.8rem;
        }
        h3 {
            font-size: 0.6rem;
        }
        p {
            font-size: 0.6rem;
        }
    }
}

@media only screen and (min-width:1367px) {
    html {
        font-size: 26px;
    }
}

@import './footer';