    @import './variable';
    @import './mixin';
    body {
        @include bodyDefault;
        min-height: 100vh;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    .splitter-blank {
        height: 5vh;
    }
    
    .tablet-body {
        display: none;
    }
    
    @import './header';
    .salesPart {
        margin-top: 10vh;
        width: 100%;
        height: 60vh;
        @include gridCenter;
        overflow: hidden;
        .salesPhoto {
            width: 80%;
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
            }
            p {
                font-size: 1.8rem;
                color: $primaryColor;
                text-shadow: 2px 5px 5px rgb(219, 219, 219);
                font-family: 'Pacifico', cursive;
                align-self: center;
                transform: translate(4vw, -15vh) rotatez(-15deg);
            }
            a {
                position: relative;
                display: inline-block;
                text-decoration: none;
                font-size: 1.2rem;
                color: $cardBgColor;
                background-color: $primaryColor;
                padding: 5px 15px;
                border-radius: 15px;
                @include pageShadow(1px);
                left: 50%;
                transform: translate(-50%, -6vh)
            }
        }
    }
    
    #homeMenu {
        z-index: -1;
        @include gridCenter;
        row-gap: 5vh;
        padding: 15vh 0;
        background-color: $primaryColor;
        h1>a {
            @include articleFont;
            text-transform: uppercase;
            color: $cardBgColor;
            justify-self: left;
        }
        .menu-section {
            z-index: 1;
            @include gridCenter;
            width: 100%;
            row-gap: 15vw;
            .foodCard {
                z-index: -1;
                width: 60vw;
                height: 60vw;
                @include gridCenter;
                position: relative;
                img {
                    z-index: -1;
                    width: 60vw;
                    height: 60vw;
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.8);
                    position: relative;
                }
                div {
                    z-index: -1;
                    @include gridCenter;
                    position: absolute;
                    top: 0;
                    overflow: hidden;
                    width: 60vw;
                    height: 60vw;
                    border-radius: 50%;
                    h2 {
                        z-index: -1;
                        position: absolute;
                        bottom: 20vw;
                        border-radius: 0 10px 10px 0;
                        background-color: rgba(255, 255, 255, 0.9);
                        @include articleFont;
                        font-size: 1rem;
                        text-transform: uppercase;
                        line-height: 1.2rem;
                        margin: 0;
                        padding-left: 3vw;
                        justify-self: left;
                    }
                    h3 {
                        position: absolute;
                        bottom: 10vw;
                        border-radius: 10px 0 0 10px;
                        background-color: rgba(255, 255, 255, 0.9);
                        @include articleFont;
                        font-size: 1rem;
                        text-transform: uppercase;
                        line-height: 1.2rem;
                        margin: 0;
                        padding-right: 6vw;
                        justify-self: right;
                        color: $priceColor;
                    }
                    p {
                        @include articleFont;
                        font-size: 1rem;
                        margin: 0;
                        opacity: 0;
                    }
                }
                &:hover {
                    height: fit-content;
                    overflow: visible;
                    // transition: all 0.6s ease-in;
                    margin-bottom: 35vw;
                }
                &:hover img {
                    z-index: 5;
                    height: 40vw;
                    left: 0;
                    border-radius: 0;
                    transition: all 0.6s ease-in;
                    z-index: 5;
                }
                &:hover div {
                    z-index: 10;
                    transition: all 0.6s ease-in;
                    box-sizing: border-box;
                    box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.8);
                    border-radius: 0;
                    padding: 3%;
                    background-color: rgba(255, 255, 255, 0.6);
                    height: 50vw;
                    top: 100%;
                    overflow: visible;
                    h2,
                    h3,
                    p {
                        z-index: 10;
                        position: static;
                        background: none;
                        color: $desktopFontColor;
                        opacity: 1;
                    }
                    h2 {
                        top: 5%;
                    }
                    h3 {
                        top: 15%;
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width:600px) {
        html {
            font-size: 18px;
        }
        .salesPart {
            width: 100%;
            height: 40vw;
            overflow: hidden;
            .salesPhoto {
                width: 100%;
                height: 100%;
                position: relative;
                img {
                    position: absolute;
                    left: 50%;
                    top: 10%;
                    width: auto;
                    height: 80%;
                }
                p,
                a {
                    transform: none;
                    left: 0;
                }
                p {
                    position: absolute;
                    color: black;
                    text-shadow: 2px 2px 5px $primaryColor;
                    font-size: 2.5rem;
                    transform: rotateZ(-10deg);
                    left: 10%;
                    top: 30%
                }
                a {
                    position: absolute;
                    left: 18%;
                    top: 60%;
                    font-size: 1.5rem;
                }
            }
        }
        #homeMenu {
            width: 100%;
            overflow: hidden;
            .menu-section {
                width: 80%;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                column-gap: 4vw;
                row-gap: 20vw;
                .foodCard {
                    width: 250px;
                    height: 250px;
                    Img {
                        width: 250px;
                        height: 250px;
                    }
                    div {
                        width: 250px;
                        height: 250px;
                        h2 {
                            bottom: 75px;
                            padding: 0 10px 0 10px;
                        }
                        h3 {
                            bottom: 40px;
                            padding: 0 25px 0 10px;
                        }
                    }
                    &:hover {
                        margin-bottom: 0;
                    }
                    &:hover img {
                        width: 250px;
                        height: 200px;
                    }
                    &:hover div {
                        width: 250px;
                        height: auto;
                        p {
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }
    
    @import './footer';
    footer {
        margin-top: 0;
    }