    @import './variable';
    @import './mixin';
    @import './animation';
    body {
        @include bodyDefault;
        // background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.52) -78.63%, #FFFFFF 106.21%);
        min-height: 100vh;
        position: relative;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .splitter-blank {
        height: 5vh;
    }
    
    .tablet-body {
        display: none;
    }
    
    @import './header';
    .homepagePhoto {
        box-sizing: border-box;
        @include gridCenter;
        position: relative;
        top: -15vw;
        width: 100%;
        height: 70vh;
        .PhotoFrame {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            .photo {
                background-position: center;
                background-size: cover;
                position: absolute;
                top: 0;
            }
            .frame {
                position: relative;
                width: 100%;
                height: 90%;
                top: 9%;
                transform: skewY(-8deg);
                transform-origin: 13%;
                overflow: hidden;
                &-mid {
                    z-index: 5;
                    height: 85%;
                    @include pageShadow(5px);
                    .photos {
                        width: 100%;
                        height: 100%;
                        animation: photoFix 15s linear infinite;
                        .photo {
                            width: 100%;
                            height: 100%;
                        }
                        .photo1 {
                            background-image: url(../images/pizzaHomepage1.jpg);
                            animation: photo1 15s ease-in-out infinite;
                        }
                        .photo2 {
                            background-image: url(../images/pizzaHomepage2.jpg);
                            animation: photo2 15s ease-in-out infinite;
                        }
                        .photo3 {
                            background-image: url(../images/pizzaHomepage3.jpg);
                            animation: photo3 15s ease-in-out infinite;
                        }
                    }
                }
                &-back {
                    z-index: 3;
                    transform: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 50%;
                    filter: blur(3px);
                    &-after {
                        transform: translateY(100%);
                    }
                    .photos {
                        width: 100%;
                        height: 100%;
                        animation: photoBackFix 15s linear infinite;
                        .photo {
                            width: 100%;
                            height: 100%;
                        }
                        .photo1 {
                            background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, rgba(255, 255, 255, 0.2) 106.21%), url(../images/pizzaHomepage1.jpg);
                            animation: photo1 15s ease-in-out infinite;
                        }
                        .photo2 {
                            background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, #FFFFFF 106.21%), url(../images/pizzaHomepage2.jpg);
                            animation: photo2 15s ease-in-out infinite;
                        }
                        .photo3 {
                            background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, #FFFFFF 106.21%), url(../images/pizzaHomepage3.jpg);
                            animation: photo3 15s ease-in-out infinite;
                        }
                    }
                }
            }
        }
    }
    /*mobile-homeMenu-start*/
    
    .intro {
        // background-color: #242424;
        box-sizing: border-box;
        width: 100%;
        margin-top: -2vh;
        padding: 0 15vw;
        margin-bottom: 10vh;
        h1 {
            // color: white;
            font-size: 3rem;
            line-height: 5rem;
            margin-bottom: 6vh;
            text-transform: uppercase;
        }
        p {
            // color: white;
            font-size: 1rem;
            line-height: 2rem;
            letter-spacing: 1px;
        }
    }
    
    #homeMenu {
        z-index: -1;
        @include gridCenter;
        width: 100%;
        h1 {
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            width: 50vw;
            height: 25vw;
            font-size: 2rem;
            line-height: 25vw;
            padding-left: 10vw;
            position: relative;
            left: -25vw;
            @include articleFont;
            text-transform: uppercase;
        }
        .menu-section {
            width: 100%;
            position: relative;
            height: 100%;
            @include gridCenter;
            grid-template-columns: 1fr 1fr;
            .foodCard {
                position: relative;
                display: block;
                width: 100%;
                height: 50vw;
                overflow: hidden;
                &-right {
                    transform: translateY(-50%);
                }
                &:hover div {
                    top: 0;
                    transition: all 0.5s ease-in-out;
                }
                img {
                    position: static;
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    left: 0;
                    border: 0;
                    object-fit: cover;
                }
                div {
                    box-sizing: border-box;
                    width: 100%;
                    top: 80%;
                    left: 0;
                    height: 100%;
                    overflow: visible;
                    position: absolute;
                    border-radius: 0;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 1.19%, rgba(0, 0, 0, 0.68) 48.02%, rgba(0, 0, 0, 0.56) 68.61%, rgba(0, 0, 0, 0.01) 100%);
                    padding: 5px 10px;
                    h2 {
                        width: 100%;
                        position: static;
                        font-size: 1rem;
                        line-height: 2rem;
                        text-transform: uppercase;
                        color: $cardBgColor;
                        padding: 0;
                        text-align: center;
                    }
                    h3 {
                        width: 100%;
                        position: static;
                        font-size: 0.8rem;
                        line-height: 2rem;
                        text-transform: uppercase;
                        padding-top: 1vh;
                        text-align: right;
                        color: $cardBgColor;
                    }
                    p {
                        position: static;
                        color: $cardBgColor;
                        font-size: 0.6rem;
                        padding-top: 1.5vh;
                    }
                }
            }
            &::after {
                content: 'recommends';
                @include articleFont;
                text-transform: uppercase;
                color: $cardBgColor;
                font-size: 1.5rem;
                position: absolute;
                line-height: 25vw;
                top: 75%;
                right: 0;
                width: 50vw;
                height: 25vw;
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }
    
    // #homeMenu {
    //     box-sizing: border-box;
    //     z-index: -1;
    //     @include gridCenter;
    //     margin-top: 25vw;
    //     position: relative;
    //     width: 100%;
    //     h1 {
    //         background-color: rgba(0, 0, 0, 0.9);
    //         color: white;
    //         position: absolute;
    //         @include articleFont;
    //         text-transform: uppercase;
    //         font-size: 2rem;
    //         width: 50vw;
    //         height: 25vw;
    //         padding-left: 10vw;
    //         line-height: 25vw;
    //         top: -25vw;
    //         left: 0;
    //     }
    //     .menu-section {
    //         width: 100%;
    //         height: 100%;
    //         position: relative;
    //         @include gridCenter;
    //         grid-template-columns: 1fr 1fr;
    //         .foodCard {
    //             box-sizing: border-box;
    //             position: relative;
    //             display: block;
    //             width: 50vw;
    //             height: 50vw;
    //             overflow: hidden;
    //             img {
    //                 position: relative;
    //                 width: 100%;
    //                 height: 100%;
    //                 border-radius: 0;
    //                 left: 0;
    //                 border: 0;
    //                 object-fit: cover;
    //             }
    //             div {
    //                 position: absolute;
    //                 box-sizing: border-box;
    //                 width: 100%;
    //                 top: 85%;
    //                 left: 0;
    //                 height: 100%;
    //                 background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 1.19%, rgba(0, 0, 0, 0.68) 48.02%, rgba(0, 0, 0, 0.56) 68.61%, rgba(0, 0, 0, 0.01) 100%);
    //                 padding: 5px 10px;
    //                 h2 {
    //                     width: 100%;
    //                     position: static;
    //                     font-size: 1rem;
    //                     text-transform: uppercase;
    //                     color: $cardBgColor;
    //                     padding: 0;
    //                     text-align: center;
    //                 }
    //                 h3 {
    //                     width: 100%;
    //                     position: static;
    //                     font-size: 0.7rem;
    //                     text-transform: uppercase;
    //                     padding-top: 1vh;
    //                     text-align: right;
    //                     color: $cardBgColor;
    //                 }
    //                 p {
    //                     position: static;
    //                     color: $cardBgColor;
    //                     font-size: 0.6rem;
    //                     padding-top: 1.5vh;
    //                 }
    //             }
    //         }
    //         .rightCard {
    //             transform: translateY(-50%);
    //         }
    //     }
    // }
    /*mobile-homeMenu-start*/
    /*mobile-contact-start*/
    
    #contact {
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
        #contact-text {
            box-sizing: border-box;
            width: 100%;
            padding: 0 10vw 10vw 10vw;
            z-index: -1;
            background: $cardBgColor;
            h2,
            p,
            a {
                text-decoration: none;
                color: $desktopFontColor;
                display: block;
            }
            h2 {
                text-transform: uppercase;
                font-size: 1rem;
                line-height: 2rem;
                font-weight: lighter;
                letter-spacing: 1.5px;
                margin-top: 2rem;
            }
            p,
            a {
                font-size: 0.8rem;
                letter-spacing: 1.2px;
            }
        }
        #map {
            width: 100%;
            height: 70vw;
            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    @media only screen and (min-width:600px) {
        .tablet-body {
            display: block;
        }
        .mobile-header {
            display: none;
        }
        .mobile-body {
            display: none;
        }
        .homepagePhoto {
            margin: 0;
            width: 100%;
            height: 60vw;
            .PhotoFrame {
                width: 100%;
                height: 100%;
                margin-top: 0;
                border-radius: 0;
                .photo {
                    width: 100%;
                    height: 100%;
                }
                .frame {
                    top: 25%;
                    &-back {
                        top: 0;
                    }
                }
            }
        }
        .intro {
            @include gridCenter;
            grid-template-columns: 1fr 1.2fr;
            margin-bottom: 0;
            padding: 0;
            h1 {
                margin-bottom: 0;
            }
            p {
                padding-right: 5vw;
            }
        }
        #homeMenu {
            width: 100%;
            height: 35vw;
            margin-top: 10vw;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1.2fr;
            background-color: rgba(0, 0, 0, 0.5);
            .menu-section {
                width: 70%;
                height: 80%;
                row-gap: 1vw;
                column-gap: 1vw;
                justify-self: right;
                &::after {
                    content: none
                }
                .foodCard {
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-color: darkkhaki;
                    grid-template-columns: 1fr;
                    overflow: hidden;
                    &-right {
                        transform: none;
                    }
                    img {
                        position: static;
                        width: 100%;
                        left: 0;
                        border: 0;
                    }
                    div {
                        top: 70%;
                        padding: 15px;
                        h2 {
                            font-size: 0.8rem;
                        }
                        h3 {
                            font-size: 0.8rem;
                            margin-top: 2vw;
                        }
                        p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            P {
                text-transform: uppercase;
                color: $cardBgColor;
                font-size: 3rem;
                line-height: 8rem;
                letter-spacing: 2px;
            }
        }
        #contact {
            @include gridCenter;
            grid-template-columns: 1fr 1fr;
            width: 70%;
            height: fit-content;
            margin-left: 15%;
            margin-top: 10vw;
            margin-bottom: 10vw;
            #map {
                @include gridCenter;
                width: 100%;
                height: 100%;
                iframe {
                    width: 25vw;
                    height: 25vw;
                    border-radius: 50%;
                }
            }
            #contact-text {
                box-sizing: border-box;
                padding: 0;
                border-radius: 20px 0;
                width: 100%;
                h2 {
                    margin-left: 0;
                    // font-size: 1.5rem;
                }
                p {
                    justify-self: center;
                    a,
                    span {
                        line-height: 1.3rem;
                        // font-size: 1rem;
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width:1367px) {}
    
    @import './footer';