@-webkit-keyframes photoFix {
  0% {
    -webkit-transform: scale(1.4) skewY(8deg);
            transform: scale(1.4) skewY(8deg);
  }
  50% {
    -webkit-transform: scale(1.6) skewY(8deg);
            transform: scale(1.6) skewY(8deg);
  }
  100% {
    -webkit-transform: scale(1.4) skewY(8deg);
            transform: scale(1.4) skewY(8deg);
  }
}

@keyframes photoFix {
  0% {
    -webkit-transform: scale(1.4) skewY(8deg);
            transform: scale(1.4) skewY(8deg);
  }
  50% {
    -webkit-transform: scale(1.6) skewY(8deg);
            transform: scale(1.6) skewY(8deg);
  }
  100% {
    -webkit-transform: scale(1.4) skewY(8deg);
            transform: scale(1.4) skewY(8deg);
  }
}

@-webkit-keyframes photoBackFix {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes photoBackFix {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@-webkit-keyframes photo1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  31% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  34% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  97% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes photo1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  31% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  34% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  97% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes photo2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  31% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  34% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  64% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  67% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes photo2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  31% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  34% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  64% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  67% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes photo3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  64% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  67% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  97% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes photo3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  64% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  67% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  97% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.52) -78.63%, #FFFFFF 106.21%);
  min-height: 100vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

.splitter-blank {
  height: 5vh;
}

.tablet-body {
  display: none;
}

header {
  position: fixed;
  height: 9vh;
  z-index: 20;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  width: 100%;
}

header > img {
  z-index: 20;
  height: 6vh;
  position: fixed;
  top: 3vw;
  left: 5vw;
}

header #tel {
  z-index: 20;
  position: fixed;
  top: 4vw;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  color: #FFA00D;
  height: 4vh;
  right: 5vw;
}

header #tel:active {
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header div a {
  font-family: 'Kanit', sans-serif;
  padding: 1vh 0;
  color: #FFA00D;
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  line-height: 2vh;
}

header div a img {
  height: 5vh;
}

header div a:hover {
  background-color: #FFA00D;
  color: #ffffff;
}

header .nav-menu {
  z-index: 20;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  bottom: 0;
  height: 7vh;
  text-align: center;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: fixed;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .nav-menu .home {
  background-color: #FFA00D;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header .nav-menu .home .homeIcon {
  width: 40%;
  height: 4vh;
  background-image: url(../images/Iconhome.png);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-x: 100%;
}

header .nav-menu .home:active {
  background-color: #ffffff;
  color: #FFA00D;
}

header .nav-menu .home:active div {
  background-position-x: 0%;
}

header .nav-menu > a,
header .nav-menu div > a {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-family: 'Kanit', sans-serif;
  padding: 1vh 0;
  color: #FFA00D;
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  line-height: 2vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

header .nav-menu > a div,
header .nav-menu div > a div {
  width: 40%;
  height: 4vh;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-x: 0;
}

header .nav-menu > a:hover,
header .nav-menu div > a:hover {
  background-color: #FFA00D;
  color: #ffffff;
}

header .nav-menu > a:hover div,
header .nav-menu div > a:hover div {
  background-position-x: 100%;
}

header .nav-menu .menuIcon {
  background-image: url(../images/Iconmenu.png);
}

header .nav-menu .special {
  background-image: url(../images/Iconsale.png);
}

header .nav-menu .about {
  background-image: url(../images/Iconpizza.png);
}

header .nav-menu .location {
  background-image: url(../images/Iconlocation.png);
}

header .nav-menu-dropdown {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  bottom: 0;
}

header .nav-menu-dropdown .nav-menu-dropdown-container {
  position: absolute;
  padding-top: 4vw;
  min-width: 30%;
  top: 3vw;
  display: none;
}

.homepagePhoto {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
}

.homepagePhoto .PhotoFrame {
  margin-top: 5vw;
  width: 70vw;
  height: 50vh;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.homepagePhoto .PhotoFrame .photo {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
}

.homepagePhoto .PhotoFrame .frame {
  position: relative;
  width: 100%;
  height: 90%;
  top: 9%;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
  -webkit-transform-origin: 13%;
          transform-origin: 13%;
  overflow: hidden;
}

.homepagePhoto .PhotoFrame .frame-mid {
  z-index: 5;
  height: 85%;
  -webkit-box-shadow: 1px 1px 5px 0 #383838;
          box-shadow: 1px 1px 5px 0 #383838;
}

.homepagePhoto .PhotoFrame .frame-mid .photos {
  width: 100%;
  height: 100%;
  -webkit-animation: photoFix 15s linear infinite;
          animation: photoFix 15s linear infinite;
}

.homepagePhoto .PhotoFrame .frame-mid .photos .photo {
  width: 100%;
  height: 100%;
}

.homepagePhoto .PhotoFrame .frame-mid .photos .photo1 {
  background-image: url(../images/pizzaHomepage1.jpg);
  -webkit-animation: photo1 15s ease-in-out infinite;
          animation: photo1 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-mid .photos .photo2 {
  background-image: url(../images/pizzaHomepage2.jpg);
  -webkit-animation: photo2 15s ease-in-out infinite;
          animation: photo2 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-mid .photos .photo3 {
  background-image: url(../images/pizzaHomepage3.jpg);
  -webkit-animation: photo3 15s ease-in-out infinite;
          animation: photo3 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-back {
  z-index: 3;
  -webkit-transform: none;
          transform: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.homepagePhoto .PhotoFrame .frame-back-after {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.homepagePhoto .PhotoFrame .frame-back .photos {
  width: 100%;
  height: 100%;
  -webkit-animation: photoBackFix 15s linear infinite;
          animation: photoBackFix 15s linear infinite;
}

.homepagePhoto .PhotoFrame .frame-back .photos .photo {
  width: 100%;
  height: 100%;
}

.homepagePhoto .PhotoFrame .frame-back .photos .photo1 {
  background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, rgba(255, 255, 255, 0.2) 106.21%), url(../images/pizzaHomepage1.jpg);
  -webkit-animation: photo1 15s ease-in-out infinite;
          animation: photo1 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-back .photos .photo2 {
  background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, #FFFFFF 106.21%), url(../images/pizzaHomepage2.jpg);
  -webkit-animation: photo2 15s ease-in-out infinite;
          animation: photo2 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-back .photos .photo3 {
  background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, #FFFFFF 106.21%), url(../images/pizzaHomepage3.jpg);
  -webkit-animation: photo3 15s ease-in-out infinite;
          animation: photo3 15s ease-in-out infinite;
}

/*mobile-homeMenu-start*/
#homeMenu {
  z-index: -1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  row-gap: 5vh;
  overflow: hidden;
}

#homeMenu h1 {
  font-family: 'Rokkitt', serif;
  text-transform: uppercase;
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 15vw;
  margin-bottom: -4vh;
}

#homeMenu .menu-section {
  width: 90%;
}

#homeMenu .menu-section .scroll {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: (35vw)[auto-fit];
      grid-template-columns: repeat(auto-fit, 35vw);
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  row-gap: 2vh;
}

#homeMenu .menu-section .scroll .foodCard {
  position: relative;
  display: block;
  width: 100%;
  height: 15vh;
  overflow: hidden;
  border-radius: 20px;
}

#homeMenu .menu-section .scroll .foodCard:hover div {
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#homeMenu .menu-section .scroll .foodCard img {
  position: static;
  width: 100%;
  height: 100%;
  border-radius: 0;
  left: 0;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#homeMenu .menu-section .scroll .foodCard div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  top: 80%;
  left: 0;
  height: 100%;
  overflow: visible;
  position: absolute;
  border-radius: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1.19%, rgba(0, 0, 0, 0.75)), color-stop(48.02%, rgba(0, 0, 0, 0.68)), color-stop(68.61%, rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.01)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 1.19%, rgba(0, 0, 0, 0.68) 48.02%, rgba(0, 0, 0, 0.56) 68.61%, rgba(0, 0, 0, 0.01) 100%);
  padding: 5px 10px;
}

#homeMenu .menu-section .scroll .foodCard div h2 {
  width: 100%;
  position: static;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  text-align: center;
}

#homeMenu .menu-section .scroll .foodCard div h3 {
  width: 100%;
  position: static;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding-top: 1vh;
  text-align: right;
  color: #ffffff;
}

#homeMenu .menu-section .scroll .foodCard div p {
  position: static;
  color: #ffffff;
  font-size: 0.6rem;
  padding-top: 1.5vh;
}

/*mobile-homeMenu-start*/
/*mobile-contact-start*/
#contact {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  row-gap: 5vh;
  padding-top: 5vh;
}

#contact #map {
  width: 80%;
  height: 70vw;
}

#contact #map h1 {
  font-family: 'Amiri', serif;
  text-transform: uppercase;
  font-size: 1rem;
}

#contact #map iframe {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact-text {
  z-index: -1;
  position: relative;
  top: 12px;
  background: rgba(196, 196, 196, 0.2);
  padding: 3vh 0;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1.4fr;
      grid-template-columns: 1fr 1.4fr;
}

#contact-text h2 {
  z-index: 1;
  font-family: 'Amiri', serif;
  color: black;
  text-transform: uppercase;
  font-size: 4vw;
  margin-left: 9vw;
}

#contact-text p {
  z-index: 1;
  -ms-grid-column-align: left;
      justify-self: left;
}

#contact-text p a {
  display: block;
}

#contact-text p a,
#contact-text p span {
  text-align: justify;
  text-decoration: none;
  font-family: 'Amiri', serif;
  color: black;
  font-size: 3vw;
  line-height: 5vw;
}

#contact-text p .contact-title {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: 1vw;
}

#contact-text p .space-1 {
  letter-spacing: 0.15rem;
}

#contact-text p .space-2 {
  letter-spacing: 0.6rem;
}

@media only screen and (min-width: 600px) {
  body {
    background: none;
    background-color: #ece6d9;
  }
  .tablet-body {
    display: block;
  }
  .mobile-header {
    display: none;
  }
  header {
    height: auto;
    background: none;
    position: fixed;
    top: 0;
    -ms-grid-columns: 1fr 4fr 2fr;
        grid-template-columns: 1fr 4fr 2fr;
  }
  header > img {
    position: relative;
    width: 10vw;
    height: auto;
    background: none;
    top: 2vw;
    left: 2vw;
  }
  header #tel {
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    height: auto;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    left: 75%;
    top: 2.5%;
    right: auto;
    width: auto;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 1px 1px 5px 0 #383838;
            box-shadow: 1px 1px 5px 0 #383838;
  }
  header .nav-menu {
    background: none;
    position: relative;
    top: -10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
  }
  header .nav-menu > a,
  header .nav-menu div > a,
  header .nav-menu .home {
    background: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #ece9e9;
    border-radius: 20px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  header .nav-menu > a:hover,
  header .nav-menu div > a:hover,
  header .nav-menu .home:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 0.9rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header .nav-menu .nav-menu-dropdown:hover .nav-menu-dropdown-container {
    display: block;
  }
  .homepagePhoto {
    margin-top: 0;
    width: 100%;
    height: 50vw;
  }
  .homepagePhoto .PhotoFrame {
    width: 100%;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
  }
  .homepagePhoto .PhotoFrame .photo {
    width: 100%;
    height: 100%;
  }
  .homepagePhoto .PhotoFrame .frame {
    top: 25%;
  }
  .homepagePhoto .PhotoFrame .frame-back {
    top: 0;
  }
  #homeMenu {
    width: 80%;
    margin-left: 10%;
    row-gap: 1vh;
  }
  #homeMenu h1 {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 0;
    margin-left: 0;
  }
  #homeMenu .menu-section {
    width: 100%;
    height: 20vw;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  #homeMenu .menu-section .scroll {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 8vw;
            column-gap: 8vw;
  }
  #homeMenu .menu-section .scroll .foodCard {
    display: block;
    width: 20vw;
    height: 100%;
    background-color: darkkhaki;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow: hidden;
  }
  #homeMenu .menu-section .scroll .foodCard img {
    position: static;
    width: 100%;
    height: 100%;
    border-radius: 0;
    left: 0;
    border: 0;
  }
  #homeMenu .menu-section .scroll .foodCard div {
    top: 78%;
    padding: 15px;
  }
  #homeMenu .menu-section .scroll .foodCard div h2 {
    font-size: 1rem;
  }
  #homeMenu .menu-section .scroll .foodCard div h3 {
    font-size: 1rem;
    margin-top: 2vw;
  }
  #homeMenu .menu-section .scroll .foodCard div p {
    font-size: 0.8rem;
  }
  #contact #map {
    height: 40vw;
  }
  #contact #map h1 {
    font-size: 1.5rem;
  }
  #contact #contact-text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 4vh;
    padding: 4vh 5%;
    border-radius: 20px 0;
    width: 100%;
  }
  #contact #contact-text h2 {
    margin-left: 0;
    font-size: 1.5rem;
  }
  #contact #contact-text p {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #contact #contact-text p a,
  #contact #contact-text p span {
    line-height: 1.3rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1367px) {
  header > img {
    width: 6vw;
  }
  header #tel {
    left: 80%;
    top: 5%;
  }
  header .nav-menu > a,
  header .nav-menu div > a,
  header .nav-menu .home {
    font-size: 1.5rem;
  }
  #homeMenu .menu-section {
    width: 80%;
    height: 16vw;
    overflow-x: hidden;
  }
  #homeMenu .menu-section .scroll {
    -webkit-column-gap: 5vw;
            column-gap: 5vw;
  }
  #homeMenu .menu-section .scroll .foodCard {
    width: 16vw;
  }
  #homeMenu .menu-section .scroll .foodCard div h2,
  #homeMenu .menu-section .scroll .foodCard div h3 {
    font-size: 1.5rem;
  }
  #homeMenu .menu-section .scroll .foodCard div p {
    font-size: 1.2rem;
  }
}

footer {
  z-index: 99;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
}

footer .splitter-line {
  height: 1px;
  width: 100%;
  background-color: black;
}

footer #footer-top {
  z-index: 99;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2vh 0 2px 0;
}

footer #footer-top div {
  text-align: center;
}

footer #footer-top div p,
footer #footer-top div a {
  text-decoration: none;
  font-family: 'Amiri', serif;
  color: black;
  font-size: 13px;
  line-height: 15px;
}

footer #footer-bottom {
  z-index: 99;
  text-decoration: none;
  font-family: 'Amiri', serif;
  color: black;
  font-size: 13px;
  line-height: 22px;
}

@media only screen and (min-width: 600px) {
  footer #footer-top {
    width: 100%;
  }
  footer #footer-top div {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */