@-webkit-keyframes photoFix {
  0% {
    -webkit-transform: scale(1.1) skewY(8deg);
            transform: scale(1.1) skewY(8deg);
  }
  50% {
    -webkit-transform: scale(1.3) skewY(8deg);
            transform: scale(1.3) skewY(8deg);
  }
  100% {
    -webkit-transform: scale(1.1) skewY(8deg);
            transform: scale(1.1) skewY(8deg);
  }
}

@keyframes photoFix {
  0% {
    -webkit-transform: scale(1.1) skewY(8deg);
            transform: scale(1.1) skewY(8deg);
  }
  50% {
    -webkit-transform: scale(1.3) skewY(8deg);
            transform: scale(1.3) skewY(8deg);
  }
  100% {
    -webkit-transform: scale(1.1) skewY(8deg);
            transform: scale(1.1) skewY(8deg);
  }
}

@-webkit-keyframes photoBackFix {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes photoBackFix {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@-webkit-keyframes photo1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  31% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  34% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  97% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes photo1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  31% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  34% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  97% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes photo2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  31% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  34% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  64% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  67% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes photo2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  31% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  34% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  64% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  67% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes photo3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  64% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  67% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  97% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes photo3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  64% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  67% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  97% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.tablet-body {
  display: none;
}

/*mobile header start*/
header {
  z-index: 20;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

header a > img {
  z-index: 20;
  height: 4vh;
  position: absolute;
  top: 3vw;
  left: 10vw;
}

header > label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1em;
  height: 15vw;
  position: relative;
  left: 85vw;
  display: inline-block;
  font-size: 15px;
}

header > label::before {
  content: '';
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 50%;
  border-top: 2px solid;
  color: #ffffff;
  -webkit-box-shadow: 0 -.35em, 0 .35em;
          box-shadow: 0 -.35em, 0 .35em;
}

header #tel {
  z-index: 999;
  position: absolute;
  left: 35vw;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  line-height: 15vw;
  color: #ffffff;
}

header #tel:active {
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header div a {
  width: 100%;
  display: block;
  padding: 1vh 0;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 0.8rem;
  color: #242424;
  text-transform: uppercase;
}

header div a:hover {
  background-color: #242424;
  color: #ffffff;
}

header .nav-menu {
  z-index: 21;
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

header .nav-menu a {
  width: 100%;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  line-height: 10vw;
  color: #ffffff;
}

header .nav-menu a:hover {
  background-color: #242424;
  color: #ffffff;
}

header .nav-menu .nav-menu-dropdown {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header .nav-menu .nav-menu-dropdown label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1em;
  position: relative;
  top: -7.5vw;
  left: 30vw;
  display: inline-block;
  font-size: 0.8rem;
}

header .nav-menu .nav-menu-dropdown label::before {
  content: '';
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  height: .65em;
  width: .65em;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transform: translate(-50%, -75%) rotate(225deg);
          transform: translate(-50%, -75%) rotate(225deg);
  color: #ffffff;
}

header .nav-menu .nav-menu-dropdown > a:hover ~ #nav-menu-dropdown-icon::before {
  color: #ffffff;
}

header .nav-menu .nav-menu-dropdown .nav-menu-dropdown-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  display: none;
  background-color: rgba(128, 128, 128, 0.5);
}

#nav-dropdown-check:checked ~ .nav-menu {
  display: -ms-grid;
  display: grid;
}

#nav-menu-dropdown-check:checked ~ .nav-menu-dropdown-container {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 600px) {
  .mobile-header {
    display: none;
  }
  header {
    z-index: 20;
    height: 6vw;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    position: fixed;
    -ms-grid-columns: 3fr 10fr 5fr;
        grid-template-columns: 3fr 10fr 5fr;
  }
  header > a {
    height: 6vw;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  header > a img {
    height: 4vw;
    width: auto;
    position: static;
  }
  header #tel {
    height: 6vw;
    position: static;
    font-size: 0.8rem;
    line-height: 6vw;
    text-shadow: 1px 1px 0 white;
    color: black;
  }
  header #tel:hover {
    font-size: 1rem;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  header .nav-menu {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    position: static;
    height: 6vw;
    background: none;
    overflow: visible;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  header .nav-menu a {
    padding-top: 0;
    color: black;
    line-height: 6vw;
    text-shadow: 1px 1px 0 white;
  }
  header .nav-menu a:hover {
    background: none;
    color: #ffffff;
    text-shadow: 1px 1px 0 #1f1f1f;
    text-shadow: 1px 1px 2px #383838;
  }
  header .nav-menu .nav-menu-dropdown {
    position: relative;
  }
  header .nav-menu .nav-menu-dropdown label {
    display: none;
  }
  header .nav-menu .nav-menu-dropdown .nav-menu-dropdown-container {
    position: absolute;
    top: 6vw;
    min-width: 150px;
    background: none;
  }
  header .nav-menu .nav-menu-dropdown .nav-menu-dropdown-container a {
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  header .nav-menu .nav-menu-dropdown:hover .nav-menu-dropdown-container {
    display: block;
  }
}

/*mobile header end*/
/*mobile slider start*/
.homepagePhoto {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 70vh;
  position: relative;
  top: -10vh;
  margin-bottom: 5vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.homepagePhoto .PhotoFrame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.homepagePhoto .PhotoFrame .photo {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
}

.homepagePhoto .PhotoFrame .frame {
  width: 100%;
  height: 95%;
  position: relative;
  top: 3%;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
  overflow: hidden;
}

.homepagePhoto .PhotoFrame .frame-mid {
  height: 100;
  z-index: 5;
  -webkit-box-shadow: 1px 1px 5px 0 #383838;
          box-shadow: 1px 1px 5px 0 #383838;
}

.homepagePhoto .PhotoFrame .frame-mid .photos {
  width: 100%;
  height: 100%;
  -webkit-animation: photoFix 15s linear infinite;
          animation: photoFix 15s linear infinite;
}

.homepagePhoto .PhotoFrame .frame-mid .photos .photo {
  width: 100%;
  height: 100%;
}

.homepagePhoto .PhotoFrame .frame-mid .photos .photo1 {
  background-image: url(../images/pizzaHomepage1.jpg);
  -webkit-animation: photo1 15s ease-in-out infinite;
          animation: photo1 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-mid .photos .photo2 {
  background-image: url(../images/pizzaHomepage2.jpg);
  -webkit-animation: photo2 15s ease-in-out infinite;
          animation: photo2 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-mid .photos .photo3 {
  background-image: url(../images/pizzaHomepage3.jpg);
  -webkit-animation: photo3 15s ease-in-out infinite;
          animation: photo3 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-back {
  z-index: 3;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: none;
          transform: none;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.homepagePhoto .PhotoFrame .frame-back-after {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.homepagePhoto .PhotoFrame .frame-back .photos {
  width: 100%;
  height: 100%;
  -webkit-animation: photoBackFix 15s linear infinite;
          animation: photoBackFix 15s linear infinite;
}

.homepagePhoto .PhotoFrame .frame-back .photos .photo {
  width: 100%;
  height: 100%;
}

.homepagePhoto .PhotoFrame .frame-back .photos .photo1 {
  background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.6) -78.63%, rgba(255, 255, 255, 0.2) 106.21%), url(../images/pizzaHomepage1.jpg);
  -webkit-animation: photo1 15s ease-in-out infinite;
          animation: photo1 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-back .photos .photo2 {
  background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.6) -78.63%, #FFFFFF 106.21%), url(../images/pizzaHomepage2.jpg);
  -webkit-animation: photo2 15s ease-in-out infinite;
          animation: photo2 15s ease-in-out infinite;
}

.homepagePhoto .PhotoFrame .frame-back .photos .photo3 {
  background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.6) -78.63%, #FFFFFF 106.21%), url(../images/pizzaHomepage3.jpg);
  -webkit-animation: photo3 15s ease-in-out infinite;
          animation: photo3 15s ease-in-out infinite;
}

/*mobile slider end*/
/*mobile-intro-start*/
.intro {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 15vw;
  margin-bottom: 10vh;
}

.intro h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 3rem;
  line-height: 5rem;
  margin-bottom: 6vh;
  text-transform: uppercase;
}

.intro p {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

/*mobile-intro-end*/
/*mobile-homeMenu-start*/
#homeMenu {
  z-index: -1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  background: radial-gradient(124.68% 124.31% at 50% 50%, rgba(238, 238, 238, 0.27) 0%, rgba(0, 0, 0, 0.44) 48.44%);
}

#homeMenu h1 {
  width: 50vw;
  height: 25vw;
  position: relative;
  left: -25vw;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  line-height: 25vw;
  background-color: rgba(0, 0, 0, 0.7);
}

#homeMenu .menu-section {
  width: 100%;
  height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#homeMenu .menu-section .foodCard {
  width: 100%;
  height: 50vw;
  position: relative;
  overflow: hidden;
}

#homeMenu .menu-section .foodCard:nth-child(2n) {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#homeMenu .menu-section .foodCard:hover div {
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#homeMenu .menu-section .foodCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#homeMenu .menu-section .foodCard div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 80%;
  left: 0;
  padding: 5px 5%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1.19%, rgba(0, 0, 0, 0.75)), color-stop(48.02%, rgba(0, 0, 0, 0.68)), color-stop(68.61%, rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.01)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 1.19%, rgba(0, 0, 0, 0.68) 48.02%, rgba(0, 0, 0, 0.56) 68.61%, rgba(0, 0, 0, 0.01) 100%);
}

#homeMenu .menu-section .foodCard div h2 {
  width: 100%;
  height: 20%;
  padding: 5px 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px #383838;
}

#homeMenu .menu-section .foodCard div h3 {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: right;
  color: #ffffff;
  text-shadow: 1px 1px 2px #383838;
}

#homeMenu .menu-section .foodCard div p {
  color: #ffffff;
  font-size: 0.8rem;
  padding-top: 5px;
  text-shadow: 1px 1px 2px #383838;
}

#homeMenu .menu-section::after {
  content: 'recommends';
  width: 50vw;
  height: 25vw;
  position: absolute;
  top: 75%;
  right: 0;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 25vw;
  background-color: rgba(0, 0, 0, 0.7);
}

/*mobile-homeMenu-end*/
/*mobile-contact-start*/
#contact {
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#contact #contact-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 10vw 10vw 10vw;
  background: #ffffff;
}

#contact #contact-text h2,
#contact #contact-text p,
#contact #contact-text a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: black;
  display: block;
}

#contact #contact-text h2 {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin-top: 2rem;
}

#contact #contact-text p,
#contact #contact-text a {
  font-size: 0.8rem;
  letter-spacing: 1.2px;
}

#contact #map {
  width: 100%;
  height: 70vw;
}

#contact #map iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*mobile-contact-end*/
/* tablet layout start*/
@media only screen and (min-width: 600px) {
  .tablet-body {
    display: block;
  }
  .mobile-header {
    display: none;
  }
  .mobile-body {
    display: none;
  }
  .homepagePhoto {
    margin: 0;
    width: 100%;
    height: 60vw;
    margin-bottom: 12vw;
  }
  .homepagePhoto .PhotoFrame {
    width: 100%;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
  }
  .homepagePhoto .PhotoFrame .photo {
    width: 100%;
    height: 100%;
  }
  .homepagePhoto .PhotoFrame .frame {
    top: 5%;
  }
  .homepagePhoto .PhotoFrame .frame-back {
    top: 0;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: 1fr 1.2fr;
        grid-template-columns: 1fr 1.2fr;
    margin-top: -10vh;
    margin-bottom: 8vh;
    padding: 0;
  }
  .intro h1 {
    margin-bottom: 0;
  }
  .intro p {
    padding-right: 5vw;
  }
  #homeMenu {
    width: 100%;
    height: 40vw;
    margin-top: 10vw;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1.2fr;
        grid-template-columns: 1fr 1.2fr;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #homeMenu .menu-section {
    width: 70%;
    height: 80%;
    row-gap: 1vw;
    -webkit-column-gap: 1vw;
            column-gap: 1vw;
    -ms-grid-column-align: right;
        justify-self: right;
  }
  #homeMenu .menu-section::after {
    content: none;
  }
  #homeMenu .menu-section .foodCard {
    width: 100%;
    height: 100%;
    display: block;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow: hidden;
  }
  #homeMenu .menu-section .foodCard:nth-child(2n) {
    -webkit-transform: none;
            transform: none;
  }
  #homeMenu .menu-section .foodCard div h2 {
    font-size: 0.7rem;
    padding: 0;
  }
  #homeMenu .menu-section .foodCard div h3 {
    font-size: 0.6rem;
  }
  #homeMenu .menu-section .foodCard div p {
    font-size: 0.6rem;
  }
  #homeMenu > P {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 3rem;
    line-height: 8rem;
    letter-spacing: 2px;
  }
  #contact {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 70%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 15%;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  #contact #map {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
  }
  #contact #map iframe {
    width: 25vw;
    height: 25vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  #contact #contact-text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    border-radius: 20px 0;
    width: 100%;
  }
  #contact #contact-text h2 {
    margin-left: 0;
  }
  #contact #contact-text p {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #contact #contact-text p a,
  #contact #contact-text p span {
    line-height: 1.3rem;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

/* tablet layout end*/
/*desktop layout start*/
@media only screen and (min-width: 1367px) {
  html {
    font-size: 26px;
  }
  #homeMenu > .menu-section > .foodCard > div h2 {
    font-size: 1rem;
  }
  #homeMenu > .menu-section > .foodCard > div h3 {
    font-size: 0.7rem;
  }
  #homeMenu > .menu-section > .foodCard > div p {
    font-size: 0.7rem;
  }
}

/*desktop layout end*/
footer {
  margin-top: 2vh;
  background-color: #efefef;
  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
}

footer .splitter-line {
  height: 1px;
  width: 100%;
  background-color: black;
}

footer #footer-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

footer #footer-top > img {
  width: 25%;
  padding: 3vh 0;
}

footer #footer-top div {
  text-align: center;
  width: 100%;
}

footer #footer-top div p,
footer #footer-top div a {
  display: inline;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 0.6rem;
}

footer #footer-top div img {
  width: 0.6rem;
}

footer #footer-bottom {
  text-align: center;
  z-index: 99;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 0.6rem;
  line-height: 22px;
}

@media only screen and (min-width: 600px) {
  footer #footer-top > img {
    width: 6%;
    padding: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */