    @import './variable';
    @import './mixin';
    @import './animation';
    body {
        @include bodyDefault;
        background: linear-gradient(317.45deg, rgba(255, 160, 13, 0.52) -78.63%, #FFFFFF 106.21%);
        min-height: 100vh;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .splitter-blank {
        height: 5vh;
    }
    
    .tablet-body {
        display: none;
    }
    
    @import './header';
    .homepagePhoto {
        margin-top: 10vh;
        @include gridCenter;
        width: 100%;
        .PhotoFrame {
            margin-top: 5vw;
            width: 70vw;
            height: 50vh;
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            .photo {
                background-position: center;
                background-size: cover;
                position: absolute;
                top: 0;
            }
            .frame {
                position: relative;
                width: 100%;
                height: 90%;
                top: 9%;
                transform: skewY(-8deg);
                transform-origin: 13%;
                overflow: hidden;
                &-mid {
                    z-index: 5;
                    height: 85%;
                    @include pageShadow(5px);
                    .photos {
                        width: 100%;
                        height: 100%;
                        animation: photoFix 15s linear infinite;
                        .photo {
                            width: 100%;
                            height: 100%;
                        }
                        .photo1 {
                            background-image: url(../images/pizzaHomepage1.jpg);
                            animation: photo1 15s ease-in-out infinite;
                        }
                        .photo2 {
                            background-image: url(../images/pizzaHomepage2.jpg);
                            animation: photo2 15s ease-in-out infinite;
                        }
                        .photo3 {
                            background-image: url(../images/pizzaHomepage3.jpg);
                            animation: photo3 15s ease-in-out infinite;
                        }
                    }
                }
                &-back {
                    z-index: 3;
                    transform: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 50%;
                    filter: blur(3px);
                    &-after {
                        transform: translateY(100%);
                    }
                    .photos {
                        width: 100%;
                        height: 100%;
                        animation: photoBackFix 15s linear infinite;
                        .photo {
                            width: 100%;
                            height: 100%;
                        }
                        .photo1 {
                            background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, rgba(255, 255, 255, 0.2) 106.21%), url(../images/pizzaHomepage1.jpg);
                            animation: photo1 15s ease-in-out infinite;
                        }
                        .photo2 {
                            background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, #FFFFFF 106.21%), url(../images/pizzaHomepage2.jpg);
                            animation: photo2 15s ease-in-out infinite;
                        }
                        .photo3 {
                            background-image: linear-gradient(317.45deg, rgba(255, 160, 13, 0.22) -78.63%, #FFFFFF 106.21%), url(../images/pizzaHomepage3.jpg);
                            animation: photo3 15s ease-in-out infinite;
                        }
                    }
                }
            }
        }
    }
    /*mobile-homeMenu-start*/
    
    #homeMenu {
        z-index: -1;
        @include gridCenter;
        row-gap: 5vh;
        overflow: hidden;
        h1 {
            @include articleFont;
            text-transform: uppercase;
            justify-self: left;
            margin-left: 15vw;
            margin-bottom: -4vh;
        }
        .menu-section {
            width: 90%;
            .scroll {
                position: relative;
                width: 100%;
                height: 100%;
                @include gridCenter;
                justify-content: space-evenly;
                grid-template-columns: repeat(auto-fit, 35vw);
                column-gap: 2vw;
                row-gap: 2vh;
                .foodCard {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 15vh;
                    overflow: hidden;
                    border-radius: 20px;
                    &:hover div {
                        top: 0;
                        transition: all 0.5s ease-in-out;
                    }
                    img {
                        position: static;
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                        left: 0;
                        border: 0;
                        object-fit: cover;
                    }
                    div {
                        box-sizing: border-box;
                        width: 100%;
                        top: 80%;
                        left: 0;
                        height: 100%;
                        overflow: visible;
                        position: absolute;
                        border-radius: 0;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 1.19%, rgba(0, 0, 0, 0.68) 48.02%, rgba(0, 0, 0, 0.56) 68.61%, rgba(0, 0, 0, 0.01) 100%);
                        padding: 5px 10px;
                        h2 {
                            width: 100%;
                            position: static;
                            font-size: 0.8rem;
                            text-transform: uppercase;
                            color: $cardBgColor;
                            padding: 0;
                            text-align: center;
                        }
                        h3 {
                            width: 100%;
                            position: static;
                            font-size: 0.7rem;
                            text-transform: uppercase;
                            padding-top: 1vh;
                            text-align: right;
                            color: $cardBgColor;
                        }
                        p {
                            position: static;
                            color: $cardBgColor;
                            font-size: 0.6rem;
                            padding-top: 1.5vh;
                        }
                    }
                }
            }
        }
    }
    /*mobile-homeMenu-start*/
    /*mobile-contact-start*/
    
    #contact {
        z-index: 1;
        @include gridCenter;
        width: 100%;
        row-gap: 5vh;
        padding-top: 5vh;
        #map {
            width: 80%;
            height: 70vw;
            h1 {
                @include otherFont;
                text-transform: uppercase;
                font-size: 1rem;
            }
            iframe {
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    #contact-text {
        z-index: -1;
        position: relative;
        top: 12px;
        background: rgba(196, 196, 196, 0.2);
        padding: 3vh 0;
        width: 100%;
        height: auto;
        @include gridCenter;
        grid-template-columns: 1fr 1.4fr;
        h2 {
            z-index: 1;
            @include otherFont;
            color: black;
            text-transform: uppercase;
            font-size: 4vw;
            margin-left: 9vw;
        }
        p {
            z-index: 1;
            justify-self: left;
            a {
                display: block;
            }
            a,
            span {
                text-align: justify;
                text-decoration: none;
                @include otherFont;
                color: black;
                font-size: 3vw;
                line-height: 5vw;
            }
            .contact-title {
                justify-self: center;
                margin-right: 1vw;
            }
            .space-1 {
                letter-spacing: 0.15rem;
            }
            .space-2 {
                letter-spacing: 0.6rem;
            }
        }
    }
    
    @media only screen and (min-width:600px) {
        .tablet-body {
            display: block;
        }
        .mobile-header {
            display: none;
        }
        header {
            height: auto;
            background: none;
            position: fixed;
            top: 0;
            grid-template-columns: 1fr 4fr 2fr;
            >img {
                position: relative;
                width: 10vw;
                height: auto;
                background: none;
                top: 2vw;
                left: 2vw;
            }
            #tel {
                font-size: 1.5rem;
                height: auto;
                padding: 0.5vw 1vw;
                border-radius: 1vw;
                left: 15vw;
                top: 6vw;
                right: auto;
                width: auto;
                background-color: cornsilk;
            }
            .nav-menu {
                background: none;
                position: relative;
                top: -10%;
                align-items: center;
                overflow: visible;
                >a,
                div>a,
                .home {
                    background: none;
                    color: $desktopFontColor;
                    font-size: 1.1rem;
                    font-weight: 600;
                    text-shadow: 1px 1px 2px rgb(236, 233, 233);
                    &:hover {
                        background: none;
                        color: $desktopFontColor;
                        font-size: 1.4rem;
                        transition: all 0.2s ease-in-out;
                    }
                    &:active {
                        font-size: 1rem;
                        transition: all 0.1s ease-in-out;
                    }
                }
                .nav-menu-dropdown {
                    &:hover .nav-menu-dropdown-container {
                        display: block;
                    }
                }
            }
        }
        .homepagePhoto {
            margin-top: 0;
            width: 100%;
            height: 50vw;
            .PhotoFrame {
                width: 100%;
                height: 100%;
                margin-top: 0;
                border-radius: 0;
                .photo {
                    width: 100%;
                    height: 100%;
                }
                .frame {
                    top: 25%;
                    &-back {
                        top: 0;
                    }
                }
            }
        }
        #homeMenu {
            width: 100%;
            row-gap: 1vh;
            h1 {
                justify-self: center;
                margin-bottom: 0;
                margin-left: 0;
            }
            .menu-section {
                width: 84%;
                height: 22vw;
                overflow: hidden;
                overflow-x: scroll;
                overflow-y: hidden;
                .scroll {
                    position: relative;
                    width: fit-content;
                    height: 100%;
                    @include gridCenter;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    column-gap: 8vw;
                    .foodCard {
                        display: block;
                        width: 22vw;
                        height: 100%;
                        background-color: darkkhaki;
                        grid-template-columns: 1fr;
                        overflow: hidden;
                        img {
                            position: static;
                            width: 100%;
                            height: 100%;
                            border-radius: 0;
                            left: 0;
                            border: 0;
                        }
                        div {
                            top: 78%;
                            padding: 15px;
                            h2 {
                                font-size: 1.2rem;
                            }
                            h3 {
                                font-size: 1rem;
                                margin-top: 2vw;
                            }
                            p {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
        #contact {
            #map {
                h1 {
                    font-size: 1.5rem;
                }
                height: 40vw;
            }
            #contact-text {
                margin-top: 4vh;
                padding: 4vh 200px;
                border-radius: 20px 0;
                width: 100%;
                h2 {
                    margin-left: 0;
                    font-size: 1.5rem;
                }
                p {
                    justify-self: center;
                    width: 50%;
                    a,
                    span {
                        line-height: 1.3rem;
                        font-size: 1rem;
                    }
                    .space-2 {
                        letter-spacing: 0.7rem;
                    }
                }
            }
        }
    }
    
    @import './footer';